.whatsapp-button{
    position:fixed;
    bottom:30px;
    right:30px;
    width:65px;
    height:65px;
    background:#25D366;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    text-decoration:none;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    z-index:999;
    transition:.3s;
    animation:whatsappPulse 2s infinite;
}

.whatsapp-button:hover{
    transform:scale(1.1);
}

@keyframes whatsappPulse{

0%{
    transform:scale(1);
    box-shadow:0 0 0 0 rgba(37,211,102,.6);
}

70%{
    transform:scale(1.05);
    box-shadow:0 0 0 18px rgba(37,211,102,0);
}

100%{
    transform:scale(1);
    box-shadow:0 0 0 0 rgba(37,211,102,0);
}

}